REACT_APP_API_URL=http://localhost:5000
REACT_APP_STRIPE_PUBLISHABLE_KEY=pk_test_51RkMkJ4IVctvaHfMfHby8bdcEu5Uh1ZEWakjuwIiQRdiAaDB184aJi8qy6iLuRGSBe5hcNkifOncyo8r3aqd2GZY009Di45bNX
REACT_APP_ENV=development
